<div class="cell">
  <h1>
<<<<<<< HEAD
    {{#link-to "application" class="logo"}}
=======
    {{#link-to "appointments" class="logo"}}
>>>>>>> ed13648cb7dc43b07262c6c877a282dc90987058
      <b class="srt">Wilderness Safety Quiz</b>
    {{/link-to}}
  </h1>

  <div class="card">
    {{outlet}}
  </div>
</div>
