<li>Who is coming?: <strong>{{model.ownerName}}</strong></li>
<li>What's their dog called again?: <strong>{{model.dogName}}</strong></li>
<li>Zoinks! They are coming <strong>{{ model.appointmentTime}}</strong></li>
