<li>Who is coming?: <strong>{{model.ownerName}}</strong></li>
<li>What's their dog called again?: <strong>{{model.dogName}}</strong></li>
<<<<<<< HEAD
<li>Zoinks! They are coming <strong>{{ model.appointmentTime}}</strong></li>
=======
<li>Zoinks! They are coming <strong>{{moment-from-now model.appointmentTime}}</strong></li>
>>>>>>> ed13648cb7dc43b07262c6c877a282dc90987058
